/* Estilos para el nav bar en pantallas grandes */
.navbar {
    background-color: #e39e9e;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    font-family: 'Dancing Script', cursive; /* Fuente cursiva elegante */
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: transform 0.3s;
}

.nav-links a:hover {
    transform: scale(1.3);
    color:#fff;
}

/* Estilos para el botón del menú en pantallas pequeñas */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.logo{
    width: 60px;
    height: 60px;
    object-fit: fill;

}

/* Estilos para el menú lateral en pantallas pequeñas */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #e39e9e;
        flex-direction: column;
        align-items: center;
        z-index: 1001;
        opacity: 0;
        transform: translateY(-20px);
        transition: transform 0.3s, opacity 0.3s;
    }

    .nav-links.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}
